@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "CabinetGrotesk Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Italic", sans-serif;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter-Italic-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Exo2-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Exo 2 Italic", sans-serif;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Exo2-Italic-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "EBGaramond", serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/EBGaramond-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "EBGaramond Italic", serif;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/EBGaramond-Italic-Variable.woff2") format("woff2");
}

@theme {
  --font-cabinet: "CabinetGrotesk Variable", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-interi: "Inter Italic", sans-serif;
  --font-exo2: "Exo 2", sans-serif;
  --font-exo2i: "Exo 2 Italic", sans-serif;
  --font-garamond: "EBGaramond", serif;
  --font-garamondi: "EBGaramond Italic", serif;
  --color-artic-50: oklch(0.963 0.016 210.95);
  --color-artic-100: oklch(0.936 0.03 209.53);
  --color-artic-200: oklch(0.873 0.066 206.92);
  --color-artic-300: oklch(0.804 0.063 207.65);
  --color-artic-400: oklch(0.745 0.057 207.5);
  --color-artic-500: oklch(0.64 0.049 208.32);
  --color-artic-600: oklch(0.537 0.042 208.9);
  --color-artic-700: oklch(0.444 0.034 209.78);
  --color-artic-800: oklch(0.341 0.026 211.36);
  --color-artic-900: oklch(0.241 0.018 207.93);
  --color-artic-950: oklch(0.186 0.015 203.81);
  --color-bege-50: oklch(0.974 0.017 87.96);
  --color-bege-100: oklch(0.952 0.033 91.65);
  --color-bege-200: oklch(0.861 0.076 93.45);
  --color-bege-300: oklch(0.767 0.067 94.04);
  --color-bege-400: oklch(0.68 0.06 94.04);
  --color-bege-500: oklch(0.586 0.051 94.04);
  --color-bege-600: oklch(0.499 0.044 94.51);
  --color-bege-700: oklch(0.405 0.035 94.66);
  --color-bege-800: oklch(0.318 0.028 92.77);
  --color-bege-900: oklch(0.222 0.019 93.36);
  --color-bege-950: oklch(0.177 0.016 95.8);
  --color-bone-50: oklch(0.956 0.018 127.05);
  --color-bone-100: oklch(0.913 0.028 126.78);
  --color-bone-200: oklch(0.825 0.025 127.59);
  --color-bone-300: oklch(0.741 0.024 126.29);
  --color-bone-400: oklch(0.658 0.02 127.23);
  --color-bone-500: oklch(0.568 0.018 126.96);
  --color-bone-600: oklch(0.483 0.015 126.55);
  --color-bone-700: oklch(0.397 0.012 125.91);
  --color-bone-800: oklch(0.309 0.009 124.72);
  --color-bone-900: oklch(0.223 0.006 134.91);
  --color-bone-950: oklch(0.176 0.004 128.67) --color-chocolate-50: oklch(0.966 0.015 48.61);
  --color-chocolate-100: oklch(0.925 0.036 51.01);
  --color-chocolate-200: oklch(0.85 0.08 56.53);
  --color-chocolate-300: oklch(0.78 0.1341 62.55);
  --color-chocolate-400: oklch(0.707 0.126 63.77);
  --color-chocolate-500: oklch(0.627 0.112 63.48);
  --color-chocolate-600: oklch(0.531 0.095 63.6);
  --color-chocolate-700: oklch(0.435 0.078 63.67);
  --color-chocolate-800: oklch(0.331 0.059 62.14);
  --color-chocolate-900: oklch(0.235 0.042 62.04);
  --color-chocolate-950: oklch(0.189 0.033 62.6);
  --color-darkgreen-50: oklch(0.958 0.061 166.29);
  --color-darkgreen-100: oklch(0.914 0.133 166.29);
  --color-darkgreen-200: oklch(0.831 0.171 166.54);
  --color-darkgreen-300: oklch(0.766 0.158 166.25);
  --color-darkgreen-400: oklch(0.697 0.143 166.7);
  --color-darkgreen-500: oklch(0.632 0.13 166.48);
  --color-darkgreen-600: oklch(0.556 0.115 166.35);
  --color-darkgreen-700: oklch(0.487 0.1 166.7);
  --color-darkgreen-800: oklch(0.421 0.087 166.73);
  --color-darkgreen-900: oklch(0.35 0.072 166.53);
  --color-darkgreen-950: oklch(0.246 0.051 166.29);
  --color-gray-50: oklch(0.9581 0 0);
  --color-gray-100: oklch(0.9128 0 0);
  --color-gray-200: oklch(0.8359 0 0);
  --color-gray-300: oklch(0.7508 0 0);
  --color-gray-400: oklch(0.6731 0 0);
  --color-gray-500: oklch(0.5863 0 0);
  --color-gray-600: oklch(0.5068 0 0);
  --color-gray-700: oklch(0.4128 0 0);
  --color-gray-800: oklch(0.3171 0 0);
  --color-gray-900: oklch(0.2308 0 0);
  --color-gray-950: oklch(0.1776 0 0);
  --color-mate-50: oklch(0.962 0.032 149.51);
  --color-mate-100: oklch(0.924 0.072 149.12);
  --color-mate-200: oklch(0.84 0.112 148.72);
  --color-mate-300: oklch(0.774 0.103 148.79);
  --color-mate-400: oklch(0.698 0.094 148.44);
  --color-mate-500: oklch(0.628 0.084 148.49);
  --color-mate-600: oklch(0.561 0.075 148.56);
  --color-mate-700: oklch(0.49 0.065 148.66);
  --color-mate-800: oklch(0.374 0.049 148.45);
  --color-mate-900: oklch(0.254 0.033 149.48);
  --color-mate-950: oklch(0.194 0.026 148.73);
  --color-tan-50: oklch(0.965 0.009 84.52);
  --color-tan-100: oklch(0.94 0.018 92.64);
  --color-tan-200: oklch(0.879 0.031 92.32);
  --color-tan-300: oklch(0.81 0.028 93.13);
  --color-tan-400: oklch(0.751 0.026 91.65);
  --color-tan-500: oklch(0.65 0.0225 91.67);
  --color-tan-600: oklch(0.542 0.019 91.65);
  --color-tan-700: oklch(0.449 0.016 93.14);
  --color-tan-800: oklch(0.344 0.012 93.77);
  --color-tan-900: oklch(0.24 0.008 84.57);
  --color-tan-950: oklch(0.187 0.006 91.64);
  --color-terracotta-50: oklch(0.958 0.017 21.9);
  --color-terracotta-100: oklch(0.925 0.033 17.82);
  --color-terracotta-200: oklch(0.845 0.076 20.81);
  --color-terracotta-300: oklch(0.773 0.119 23.32);
  --color-terracotta-400: oklch(0.692 0.176 26.32);
  --color-terracotta-500: oklch(0.62 0.2139 30.26);
  --color-terracotta-600: oklch(0.531 0.183 30.34);
  --color-terracotta-700: oklch(0.431 0.149 30.24);
  --color-terracotta-800: oklch(0.341 0.118 30.26);
  --color-terracotta-900: oklch(0.243 0.084 30.7);
  --color-terracotta-950: oklch(0.185 0.064 30.19);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

body {
  background-color: var(--color-bege-50);
}

/* html {
    scrollbar-gutter: stable;
} */

/* Slide Left Transition */
html:active-view-transition-type(slide-left) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-left;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-left;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide Right Transition */
html:active-view-transition-type(slide-right) {
  &::view-transition-old(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-out-right;
  }

  &::view-transition-new(main-content) {
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-in-right;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Warp/Rotate Transition */
html:active-view-transition-type(warp) {
  &::view-transition-old(post) {
    animation: 400ms ease-out both warp-out;
  }

  &::view-transition-new(post) {
    animation: 400ms ease-out both warp-in;
  }
}

@keyframes warp-out {
  from {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1) rotate(0deg);
  }

  to {
    opacity: 0;
    filter: blur(15px) brightness(1.8);
    transform: scale(1.1) rotate(90deg);
  }
}

@keyframes warp-in {
  from {
    opacity: 0;
    filter: blur(15px) brightness(1.8);
    transform: scale(0.9) rotate(-45deg);
  }

  to {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1) rotate(0deg);
  }
}


@media (max-width: 1000px) {

  .nav-content,
  .nav-items {
    height: 100svh;
  }

  .nav-items {
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  .nav-legal,
  .nav-secondary-links {
    display: none;
  }

  .nav-items-col:nth-child(1),
  .nav-items-col:nth-child(2) {
    display: none;
  }

}

.bg-hero {
  background-image: linear-gradient(245deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 93%, rgba(92, 92, 92, 0.04) 93%, rgba(92, 92, 92, 0.04) 100%), linear-gradient(44deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 39%, rgba(186, 186, 186, 0.04) 39%, rgba(186, 186, 186, 0.04) 100%), linear-gradient(134deg, rgba(178, 178, 178, 0.04) 0%, rgba(178, 178, 178, 0.04) 95%, rgba(237, 237, 237, 0.04) 95%, rgba(237, 237, 237, 0.04) 100%), linear-gradient(322deg, rgba(56, 56, 56, 0.04) 0%, rgba(56, 56, 56, 0.04) 58%, rgba(232, 232, 232, 0.04) 58%, rgba(232, 232, 232, 0.04) 100%), linear-gradient(139deg, rgba(51, 51, 51, 0.04) 0%, rgba(51, 51, 51, 0.04) 62%, rgba(35, 35, 35, 0.04) 62%, rgba(35, 35, 35, 0.04) 100%), linear-gradient(252deg, rgba(9, 9, 9, 0.04) 0%, rgba(9, 9, 9, 0.04) 39%, rgba(174, 174, 174, 0.04) 39%, rgba(174, 174, 174, 0.04) 100%), linear-gradient(229deg, rgba(241, 241, 241, 0.04) 0%, rgba(241, 241, 241, 0.04) 2%, rgba(140, 140, 140, 0.04) 2%, rgba(140, 140, 140, 0.04) 100%), linear-gradient(223deg, rgba(82, 82, 82, 0.04) 0%, rgba(82, 82, 82, 0.04) 36%, rgba(229, 229, 229, 0.04) 36%, rgba(229, 229, 229, 0.04) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.0025), rgba(255, 255, 255, 0.0025));
}


/* Animação de Introdução */
.card .char span {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.intro .char,
.other .char,
.card .char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.intro .char,
.other .char {
  margin-top: 0.75rem;
}

.intro .char span,
.other .char span,
.tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro .first-char {
  transform-origin: top left;
}

@media(max-width: 64rem) {

  .intro .char,
  .other .char {
    margin-top: 0.5rem;
  }
}


/* Mapa */
/* Example: Dark Mode Filter */
.leaflet-layer {
  filter: grayscale(80%);
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

.leaflet-popup-content {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem !important;
  max-height: max-content !important;
}

.leaflet-popup-content p {
  width: 320px !important;
  margin-block-start: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-tip-container {
  bottom: -20px !important;
}

.leaflet-popup-close-button {
  size: 1rem;
  top: 0.25rem !important;
  right: 0.25rem !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: var(--color-white) !important;
  border-radius: 100%;
}

.leaflet-popup-close-button span {
  position: absolute;
  top: -0.05rem !important;
  right: 0.35rem;
}

/* Base UI ScrollArea - Hide scrollbar by default */
.scroll-area-scrollbar-thumb {
  opacity: 0;
  transition: opacity 0.2s;
}

/* Base UI ScrollArea - Show on hover */
.scroll-area-root:hover .scroll-area-scrollbar-thumb {
  opacity: 1;
}






.sticky-wrapper h2 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 0.85;
}

.sticky-wrapper {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.sticky-text-1,
.sticky-text-2 {
  color: var(--color-lime-950);
  background-color: var(--color-lime-400);
}

.sticky-text-3 {
  color: var(--color-lime-400);
}

.sticky-wrapper .text-container,
.reveal-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: opacity, transform;
  z-index: 1;
}

.sticky-wrapper .text-container h2 {
  position: relative;
  left: -0.035em;
  letter-spacing: -0.05em;
  transform-origin: 50% 0%;
  transform: scale(0);
}

.sticky-text-1 .text-container h2 {
  font-size: 19.5vw !important;
  font-weight: 300 !important;
  will-change: transform;
}

.sticky-text-2 .text-container h2 {
  font-size: 20vw !important;
  will-change: transform;
}

.sticky-text-3 .text-container h2 {
  font-size: 22vw !important;
  font-weight: 900 !important;
}

.sticky-text-3 .header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@theme {
  --color-card-accent-1: #b1c03f;
  --color-card-accent-2: #f2acac;
  --color-card-accent-3: #fedd93;
  --color-card-accent-4: #81b7bf;
  --color-card-accent-5: #eeeb99
}

.sticky-cards {
  position: relative;
  width: 100vw;
  background-color: #0f0f0f;
}

.sticky-cards .card {
  position: sticky;
  height: 125svh;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.sticky-cards .card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 100%;
  will-change: transfomr;
  text-align: center;
}

.sticky-cards .card-inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  opacity: var(--after-opacity,0);
  will-change: opacity;
  pointer-events: none;
  z-index: 2;
}

#card-1 {
  background-color: var(--color-card-accent-2);
}

#card-2 {
  background-color: var(--color-card-accent-3);
}

#card-3 {
  background-color: var(--color-card-accent-4);
}










    .carousel-container {
            width: 100vw;
            height: 100vh;
            background-color: var(--color-black);
            cursor: none;
            overflow: hidden;
        }

        .carousel-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .carousel-container h2,
        .carousel-container p, 
        .carousel-container a {
            font-weight: 400;
            color: #fff;
            text-decoration: none;
        }

        .carousel-container h2 {
            font-size: 2.25rem;
        }

        .carousel-container p, 
        .carousel-container a {
            font-size: 1rem;
        }

        .carousel-cursor {
            position: absolute;
            top: 0;
            left: 0;
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255,255,0.05);
            backdrop-filter: blur(20px);
            border-radius: 100%;
            pointer-events: none;
            z-index: 2;
        }
        
        .carousel-cursor p {
            font-size: 0.725rem;
            text-transform: uppercase;
        }
        
        .carousel-image-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            opacity: 0.5;
        }
        
        .carousel-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        
        .carousel-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
            height: 100%;
            padding: 4em 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .carousel-indices {
            width: 100%;
            height: 0.625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.25em;
        }
        
        .carousel-index {
            position: relative;
            width: 100%;
            height: 0.0625rem;
            background-color: rgba(255,255,255,0.25);
        }

        .carousel-index-highlight {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #fff;
            transform: scaleX(100%);
        }

        .carousel-profile {
            width: 100%;
            height: 3.75rem;
            display: flex;
            align-items: center;
            gap: 1em;
        }

        .carousel-profile-icon {
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            overflow: hidden;
        }

        .carousel-profile-name {
            position: relative;
            width: 12.5rem;
            height: 1.25rem;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .carousel-content-title-row {
            position: relative;
            width: 100%;
            height: 3rem;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        
        .carousel-content-title-row h2,
        .carousel-profile-name p {
            position: absolute;
            top: 0;
        }

        .carousel-content-link {
            position: relative;
            width: max-content;
            margin: 2em 0;
            padding: 0.25em 0;
        }

        .carousel-content-link::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0.0325rem;
            background-color: #fff;
        }




